{% load staticfiles %}
<!DOCTYPE html>

<html class="gwd_">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<title>超级小说移动版_书友最值得收藏的网络小说阅读网</title>
	<meta name="keywords" content="超级小说网移动版,小说阅读网,m.superxiaoshuo.com">
	<meta name="description" content="超级小说移动版是广大书友最值得收藏的网络小说阅读网,网站收录了当前最火热的网络小说,免费提供高质量的小说最新章节,是广大网络小说爱好者必备的小说阅读网。">
	<meta name="MobileOptimized" content="240">
	<meta name="applicable-device" content="mobile">
	<link rel="canonical" href="http://www.superxiaoshuo.com/">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="Cache-Control" content="max-age=300">
	<meta http-equiv="Cache-Control" content="no-transform">
	<link rel="shortcut icon" href="{% static 'moble/css/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'moble/css/style_wap.css' %}">
	<script src="{% static 'moble/js/wap.js' %}"></script>
	<script src="{% static 'moble/js/ajax.js' %}"></script>
</head>
<body>
	<div class="header">
		<div class="logo">
			<h2>
				<a href="http://m.superxiaoshuo.com/">超级小说</a>
			</h2>
			<p>m.superxiaoshuo.com</p>
		</div>
		<div class="reg">
			<div id="login_top">
				<a class="box" href="http://m.superxiaoshuo.com/login.php">登录</a>
				<a class="box" href="http://m.superxiaoshuo.com/register.php">注册</a>
			</div>
		</div>
	</div>
	
	<!-- 登陆之后显示的 -->
	<div id="info" class="login_top" style="display:none">
		<a rel="nofollow" href="http://m.superxiaoshuo.com/wap/bookcase.php" style="color:#fff;">我的书架</a>
		<a rel="nofollow" href="http://m.superxiaoshuo.com/userdetail.php" style="color:#fff;">查看资料</a>
		<a rel="nofollow" href="http://m.superxiaoshuo.com/logout.php" style="color:#fff">退出</a>
	</div>
	
	<!-- 导航栏 -->
	<div class="nav">
		<ul>
			<li><a href="http://m.superxiaoshuo.com/xuanhuan/">分类</a></li>
			<li><a href="http://m.superxiaoshuo.com/top.html">排行</a></li>
			<li><a href="http://m.superxiaoshuo.com/quanben/">全本</a></li>
			<li><a rel="nofollow" href="http://m.superxiaoshuo.com/wap/bookcase.php">书架</a></li>        
		</ul>
	</div>

	<!-- 搜索栏 -->
	<div class="search">
		<form name="articlesearch" action="http://zhannei.baidu.com/cse/search">
			<input name="s" value="18402225725594290780" type="hidden">
			<table style="width:100%;">
				<tbody>
					<tr>
						<td class="frame">
						<input id="s_key" name="q" class="key" value="请输入文章名称，宁少字勿错字！" onfocus="this.value=''" type="text">
						</td>
						<td class="button">
						<input name="submit" value="" class="go" onclick="check()" type="submit">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div> 

    <div class="article">
	<h2 class="title"><span><a href="http://m.superxiaoshuo.com/xuanhuan/">玄幻小说</a></span><a href="http://m.superxiaoshuo.com/xuanhuan/">更多...</a></h2>
    
<div class="block">
<div class="block_img"><a href="http://m.superxiaoshuo.com/files/article/17/17543/"><img src="%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_%E4%B9%A6%E5%8F%8B%E6%9C%80%E5%80%BC%E5%BE%97%E6%94%B6%E8%97%8F%E7%9A%84%E7%BD%91%E7%BB%9C%E5%B0%8F%E8%AF%B4%E9%98%85%E8%AF%BB%E7%BD%91_files/17543m.jpg" onerror="this.src='http://m.ranwen.org/modules/article/images/nocover.jpg'" width="80" height="100"></a></div>
<div class="block_txt">
<p><a href="http://m.superxiaoshuo.com/files/article/17/17543/" style="color: #007BB1;"></a></p><h2><a href="http://m.superxiaoshuo.com/files/article/17/17543/" style="color: #007BB1;">绝世唐门</a></h2><p></p>
<p>作者：唐家三少</p>
<p><a href="http://m.superxiaoshuo.com/files/article/17/17543/">    这里没有魔法，没有斗气，没有武术，却有武魂。唐门创立万年之后的斗罗大陆上，唐门式微。一代天骄横空出世，新一代史莱克七怪能否重振唐门，谱写一曲绝世唐门之歌？
    百万年魂兽，手握日月摘星辰的死灵圣法神，导致唐门衰落的全新魂导器体系。一切的神奇都将...</a></p>
</div>
<div style="clear:both"></div>
<ul>

<li><a href="http://m.superxiaoshuo.com/files/article/19/19388/" class="blue">大主宰</a>/天蚕土豆</li>

<li><a href="http://m.superxiaoshuo.com/files/article/76/76945/" class="blue">龙纹战神</a>/苏月夕</li>

<li><a href="http://m.superxiaoshuo.com/files/article/77/77081/" class="blue">雪鹰领主</a>/我吃西红柿</li>

<li><a href="http://m.superxiaoshuo.com/files/article/79/79871/" class="blue">龙王传说</a>/唐家三少</li>

<li><a href="http://m.superxiaoshuo.com/files/article/3/3161/" class="blue">斗罗大陆</a>/唐家三少</li>
 
</ul>
</div>



                
    </div>
    
    <div class="article">
	<h2 class="title"><span><a href="http://m.superxiaoshuo.com/xiuzhen/">修真小说</a></span><a href="http://m.superxiaoshuo.com/xiuzhen/">更多...</a></h2>
    
<div class="block">
<div class="block_img"><a href="http://m.superxiaoshuo.com/files/article/83/83090/"><img src="%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_%E4%B9%A6%E5%8F%8B%E6%9C%80%E5%80%BC%E5%BE%97%E6%94%B6%E8%97%8F%E7%9A%84%E7%BD%91%E7%BB%9C%E5%B0%8F%E8%AF%B4%E9%98%85%E8%AF%BB%E7%BD%91_files/83090m.jpg" onerror="this.src='http://m.ranwen.org/modules/article/images/nocover.jpg'" width="80" height="100"></a></div>
<div class="block_txt">
<p><a href="http://m.superxiaoshuo.com/files/article/83/83090/" style="color: #007BB1;"></a></p><h2><a href="http://m.superxiaoshuo.com/files/article/83/83090/" style="color: #007BB1;">一念永恒</a></h2><p></p>
<p>作者：耳根</p>
<p><a href="http://m.superxiaoshuo.com/files/article/83/83090/">    一念成沧海，一念化桑田。一念斩千魔，一念诛万仙。唯我念……永恒
</a></p>
</div>
<div style="clear:both"></div>
<ul>

<li><a href="http://m.superxiaoshuo.com/files/article/75/75907/" class="blue">掠天记</a>/黑山老鬼</li>

<li><a href="http://m.superxiaoshuo.com/files/article/0/289/" class="blue">遮天</a>/辰东</li>

<li><a href="http://m.superxiaoshuo.com/files/article/79/79776/" class="blue">玄界之门</a>/忘语</li>

<li><a href="http://m.superxiaoshuo.com/files/article/23/23050/" class="blue">废材逆天：杀手女神</a>/妤七</li>

<li><a href="http://m.superxiaoshuo.com/files/article/0/570/" class="blue">武动乾坤</a>/天蚕土豆</li>
 
</ul>
</div>



                
    </div>

    <div class="article">
	<h2 class="title"><span><a href="http://m.superxiaoshuo.com/dushi/">都市小说</a></span><a href="http://m.superxiaoshuo.com/dushi/">更多...</a></h2>
    
<div class="block">
<div class="block_img"><a href="http://m.superxiaoshuo.com/files/article/13/13056/"><img src="%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_%E4%B9%A6%E5%8F%8B%E6%9C%80%E5%80%BC%E5%BE%97%E6%94%B6%E8%97%8F%E7%9A%84%E7%BD%91%E7%BB%9C%E5%B0%8F%E8%AF%B4%E9%98%85%E8%AF%BB%E7%BD%91_files/13056m.jpg" onerror="this.src='http://m.ranwen.org/modules/article/images/nocover.jpg'" width="80" height="100"></a></div>
<div class="block_txt">
<p><a href="http://m.superxiaoshuo.com/files/article/13/13056/" style="color: #007BB1;"></a></p><h2><a href="http://m.superxiaoshuo.com/files/article/13/13056/" style="color: #007BB1;">官道无疆</a></h2><p></p>
<p>作者：瑞根</p>
<p><a href="http://m.superxiaoshuo.com/files/article/13/13056/">    自信人生二百年，会当击水三千里！
    当改革开放的时代大潮来袭，陆为民该如何重掌这人生际遇？
    从毕业分配失意到自信人生的崛起，诡谲起伏的人生，沉浮跌宕的官场，一步一个脚印，抓住每一个机会，大道无形，行者无疆，漫漫官道，唯有胸怀天地，志存高远，...</a></p>
</div>
<div style="clear:both"></div>
<ul>

<li><a href="http://m.superxiaoshuo.com/files/article/1/1763/" class="blue">高官风流</a>/那年听风</li>

<li><a href="http://m.superxiaoshuo.com/files/article/15/15942/" class="blue">知否？知否？应是绿肥红瘦</a>/关心则乱</li>

<li><a href="http://m.superxiaoshuo.com/files/article/70/70719/" class="blue">将军在上</a>/弥语</li>

<li><a href="http://m.superxiaoshuo.com/files/article/76/76413/" class="blue">黄金渔场</a>/全金属弹壳</li>

<li><a href="http://m.superxiaoshuo.com/files/article/42/42187/" class="blue">官场风月</a>/同舟共济</li>
 
</ul>
</div>



                
    </div>

    <div class="article">
	<h2 class="title"><span><a href="http://m.superxiaoshuo.com/wangyou/">网游小说</a></span><a href="http://m.superxiaoshuo.com/wangyou/">更多...</a></h2>
    
<div class="block">
<div class="block_img"><a href="http://m.superxiaoshuo.com/files/article/0/197/"><img src="%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_%E4%B9%A6%E5%8F%8B%E6%9C%80%E5%80%BC%E5%BE%97%E6%94%B6%E8%97%8F%E7%9A%84%E7%BD%91%E7%BB%9C%E5%B0%8F%E8%AF%B4%E9%98%85%E8%AF%BB%E7%BD%91_files/197m.jpg" onerror="this.src='http://m.ranwen.org/modules/article/images/nocover.jpg'" width="80" height="100"></a></div>
<div class="block_txt">
<p><a href="http://m.superxiaoshuo.com/files/article/0/197/" style="color: #007BB1;"></a></p><h2><a href="http://m.superxiaoshuo.com/files/article/0/197/" style="color: #007BB1;">全职高手</a></h2><p></p>
<p>作者：蝴蝶蓝</p>
<p><a href="http://m.superxiaoshuo.com/files/article/0/197/">    网游荣耀中被誉为教科书级别的顶尖高手，因为种种原因遭到俱乐部的驱逐，离开职业圈的他寄身于一家网吧成了一个小小的网管，但是，拥有十年游戏经验的他，在荣耀新开的第十区重新投入了游戏，带着对往昔的回忆，和一把未完成的自制武器，开始了重返巅峰之路。
</a></p>
</div>
<div style="clear:both"></div>
<ul>

<li><a href="http://m.superxiaoshuo.com/files/article/27/27606/" class="blue">神级英雄</a>/大烟缸</li>

<li><a href="http://m.superxiaoshuo.com/files/article/78/78608/" class="blue">重生之最强剑神</a>/天运老猫</li>

<li><a href="http://m.superxiaoshuo.com/files/article/76/76555/" class="blue">网游之大盗贼</a>/泛舟填词</li>

<li><a href="http://m.superxiaoshuo.com/files/article/81/81438/" class="blue">英雄联盟之决胜巅峰</a>/机器人布里茨</li>

<li><a href="http://m.superxiaoshuo.com/files/article/36/36001/" class="blue">网游之三国超级领主</a>/三心二缺</li>
 
</ul>
</div>



                
    </div>
    
    <div class="article">
	<h2 class="title"><span><a href="http://m.superxiaoshuo.com/kehuan/">科幻小说</a></span><a href="http://m.superxiaoshuo.com/kehuan/">更多...</a></h2>
    
<div class="block">
<div class="block_img"><a href="http://m.superxiaoshuo.com/files/article/84/84164/"><img src="%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_%E4%B9%A6%E5%8F%8B%E6%9C%80%E5%80%BC%E5%BE%97%E6%94%B6%E8%97%8F%E7%9A%84%E7%BD%91%E7%BB%9C%E5%B0%8F%E8%AF%B4%E9%98%85%E8%AF%BB%E7%BD%91_files/84164m.jpg" onerror="this.src='http://m.ranwen.org/modules/article/images/nocover.jpg'" width="80" height="100"></a></div>
<div class="block_txt">
<p><a href="http://m.superxiaoshuo.com/files/article/84/84164/" style="color: #007BB1;"></a></p><h2><a href="http://m.superxiaoshuo.com/files/article/84/84164/" style="color: #007BB1;">末世大回炉</a></h2><p></p>
<p>作者：二十二刀流</p>
<p><a href="http://m.superxiaoshuo.com/files/article/84/84164/">    丧尸爆发，人类绝境来临，地球磁场瞬变，一切回归最初，回到原始。
    末世，我来了。
    群——424355442
</a></p>
</div>
<div style="clear:both"></div>
<ul>

<li><a href="http://m.superxiaoshuo.com/files/article/57/57288/" class="blue">异世界的魔王大人</a>/开心小帅</li>

<li><a href="http://m.superxiaoshuo.com/files/article/73/73258/" class="blue">钢铁界</a>/星天萤火</li>

<li><a href="http://m.superxiaoshuo.com/files/article/0/548/" class="blue">吞噬星空</a>/我吃西红柿</li>

<li><a href="http://m.superxiaoshuo.com/files/article/4/4990/" class="blue">黄河鬼棺</a>/南派三叔</li>

<li><a href="http://m.superxiaoshuo.com/files/article/5/5198/" class="blue">都市妖奇谈</a>/可蕊</li>
 
</ul>
</div>



                
    </div>

    <div class="article">
	<h2 class="title"><span><a href="http://m.superxiaoshuo.com/yanqing/">言情小说</a></span><a href="http://m.superxiaoshuo.com/yanqing/">更多...</a></h2>
    
<div class="block">
<div class="block_img"><a href="http://m.superxiaoshuo.com/files/article/86/86898/"><img src="%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_%E4%B9%A6%E5%8F%8B%E6%9C%80%E5%80%BC%E5%BE%97%E6%94%B6%E8%97%8F%E7%9A%84%E7%BD%91%E7%BB%9C%E5%B0%8F%E8%AF%B4%E9%98%85%E8%AF%BB%E7%BD%91_files/nocover.jpg" onerror="this.src='http://m.ranwen.org/modules/article/images/nocover.jpg'" width="80" height="100"></a></div>
<div class="block_txt">
<p><a href="http://m.superxiaoshuo.com/files/article/86/86898/" style="color: #007BB1;"></a></p><h2><a href="http://m.superxiaoshuo.com/files/article/86/86898/" style="color: #007BB1;">重生当军嫂</a></h2><p></p>
<p>作者：婔姿珏然</p>
<p><a href="http://m.superxiaoshuo.com/files/article/86/86898/">    一穿越就遭遇湖水灭顶之灾，继而面对被换亲，对象是一个又邋遢又驼背的老汉？玛蛋，这是让她撕的节奏？某兵哥：咱媳妇儿，真威武霸气！书友群：511196808，喜欢然然的可以来玩玩哦~
</a></p>
</div>
<div style="clear:both"></div>
<ul>

<li><a href="http://m.superxiaoshuo.com/files/article/14/14147/" class="blue">武逆</a>/只是小虾米</li>

<li><a href="http://m.superxiaoshuo.com/files/article/16/16716/" class="blue">带着随身空间重生</a>/我爱种菜</li>

<li><a href="http://m.superxiaoshuo.com/files/article/15/15002/" class="blue">重生小地主</a>/弱颜</li>

<li><a href="http://m.superxiaoshuo.com/files/article/14/14317/" class="blue">武道至尊</a>/暗夜幽殇</li>

<li><a href="http://m.superxiaoshuo.com/files/article/16/16683/" class="blue">重生之溺杀</a>/mijia</li>
 
</ul>
</div>



                
    </div>
	<script>home_bottom()</script>

	<div class="footer">
  <ul>
    <li><a href="http://www.superxiaoshuo.com/">电脑版</a></li>
    <li><a rel="nofollow" href="http://m.superxiaoshuo.com/wap/bookcase.php">书架</a></li>
    <li><a rel="nofollow" href="http://so.superxiaoshuo.com/cse/search?s=18402225725594290780">搜索</a></li>
    <li><a href="http://m.superxiaoshuo.com/newmessage.php?tosys=1&amp;title=%B4%ED%CE%F3%BE%D9%B1%A8%21&amp;content=%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA" style="color:red">报错</a></li>
  </ul>
</div>
	
	<script>foot()</script>
	<div style="display:none;width:0px"><script>tongji()</script><script src="%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_%E4%B9%A6%E5%8F%8B%E6%9C%80%E5%80%BC%E5%BE%97%E6%94%B6%E8%97%8F%E7%9A%84%E7%BD%91%E7%BB%9C%E5%B0%8F%E8%AF%B4%E9%98%85%E8%AF%BB%E7%BD%91_files/z_stat.php" language="JavaScript"></script><script src="%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_%E4%B9%A6%E5%8F%8B%E6%9C%80%E5%80%BC%E5%BE%97%E6%94%B6%E8%97%8F%E7%9A%84%E7%BD%91%E7%BB%9C%E5%B0%8F%E8%AF%B4%E9%98%85%E8%AF%BB%E7%BD%91_files/core.php" charset="utf-8" type="text/javascript"></script><a href="http://www.cnzz.com/stat/website.php?web_id=1262046573" target="_blank" title="站长统计">站长统计</a>
</div>

 

<div id="GWDANG_HAS_BUILT"></div></body></html>