{% extends 'novel_site/base.html' %}
{% load staticfiles %}

{% block meta_description %}
<title>{{ cate }}小说 好看的{{ cate }}小说_2017{{ cate }}小说排行榜_超级小说</title>
<meta name="keywords" content="超级小说,{{ cate }}小说,小说阅读网,小说">
<meta name="description" content="超级小说是广大书友最值得收藏的{{ cate }}小说阅读网，网站收录了当前最火热的{{ cate }}小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。">
{% endblock meta_description %}

{% block main %}
<div id="main">
    <div id="hotcontent">
        <div class="ll">
            {% for book in cate_books %}
            <div class="item">
                <div class="image"><a href="{{ book.get_absolute_url }}" target="_blank"><img src="{% static book.image %}" alt="{{ book.title }}" width="120" height="150"></a></div>
                <dl>
                    <dt><span>{{ book.author }}</span><a href="{{ book.get_absolute_url }}" target="_blank">{{ book.title }}</a></dt>
                    <dd><a href="{{ book.get_absolute_url }}">{{ book.resume|truncatechars:90 }}</a></dd>
                </dl>
                <div class="clear"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="newscontent">
        <div class="l">
            <h2>好看的玄幻小说最近更新列表</h2>
            <ul>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/59/59639/" target="_blank">女总裁的贴身保镖</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/59/59639/19277361.html" target="_blank">第1930章 疯子</a>(05-11)</span><span class="s5">我是三羊</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/82/82205/" target="_blank">魔法高材生</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/82/82205/19277352.html" target="_blank">第627章 帝国的脊梁</a>(05-11)</span><span class="s5">刀锋饮喋</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/16/16866/" target="_blank">武炼巅峰</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/16/16866/19277351.html" target="_blank">第三千五百八十八章 邻居</a>(05-11)</span><span class="s5">莫默</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/86/86274/" target="_blank">太古星帝</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/86/86274/19277346.html" target="_blank">第813章 击退</a>(05-11)</span><span class="s5">烧刀</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/83/83059/" target="_blank">异界顾问生存指南</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/83/83059/19277344.html" target="_blank">第四百三十五章 大采购</a>(05-11)</span><span class="s5">缓慢更新</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/84/84201/" target="_blank">尊上</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/84/84201/19277296.html" target="_blank">第1180 女宗的身份</a>(05-11)</span><span class="s5">九哼</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/79/79564/" target="_blank">龙魄原型体</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/79/79564/19277293.html" target="_blank">第七百三十八章 与赫萝闲聊几句以及重型链甲外包</a>(05-11)</span><span class="s5">条顿君王</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/86/86740/" target="_blank">神级大魔头</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/86/86740/19277286.html" target="_blank">第457章 关系遍天下</a>(05-11)</span><span class="s5">拉姆</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/57/57564/" target="_blank">沧海无缘</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/57/57564/19277283.html" target="_blank">佛界续篇第28章 中计</a>(05-11)</span><span class="s5">丢弃的心</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/79/79871/" target="_blank">龙王传说</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/79/79871/19277281.html" target="_blank">第一千零三十四章 精神增幅</a>(05-11)</span><span class="s5">唐家三少</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/85/85141/" target="_blank">倾世武王</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/85/85141/19277273.html" target="_blank">第一百五十六章 下个聘礼</a>(05-11)</span><span class="s5">巡天</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/79/79945/" target="_blank">恶神的异世界生存手册</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/79/79945/19277268.html" target="_blank">第七百零九章 最终BOSS邪道速通</a>(05-11)</span><span class="s5">三爪炎痕</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/86/86725/" target="_blank">白泽手札</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/86/86725/19277258.html" target="_blank">第三百三十二章 莪相入队</a>(05-11)</span><span class="s5">钜子白泽</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/83/83988/" target="_blank">不朽之路</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/83/83988/19277251.html" target="_blank">第五百七十四章 请留步</a>(05-11)</span><span class="s5">胜己</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/84/84161/" target="_blank">破域天劫</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/84/84161/19277223.html" target="_blank">第七百五十章 蛮荒丛林</a>(05-11)</span><span class="s5">燕东重</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/84/84945/" target="_blank">征途</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/84/84945/19277221.html" target="_blank">第二百七十八章 新家下面有宝藏？</a>(05-11)</span><span class="s5">雷云风暴</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/86/86261/" target="_blank">神荒龙帝</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/86/86261/19277214.html" target="_blank">第六百九十五章 谁人能比</a>(05-11)</span><span class="s5">妖月夜</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/73/73736/" target="_blank">天苍黄</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/73/73736/19277194.html" target="_blank">第九章 另一着暗棋</a>(05-11)</span><span class="s5">有时糊涂</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/83/83752/" target="_blank">重生之宗门崛起</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/83/83752/19277178.html" target="_blank">第七百五十四章 败司徒亮</a>(05-11)</span><span class="s5">皮卡超忍</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/83/83135/" target="_blank">邪暝</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/83/83135/19277171.html" target="_blank">488</a>(05-11)</span><span class="s5">海贼皇</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/85/85830/" target="_blank">圣墟</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/85/85830/19277158.html" target="_blank">第三百八十八章 海底文明</a>(05-11)</span><span class="s5">辰东</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/77/77081/" target="_blank">雪鹰领主</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/77/77081/19277157.html" target="_blank">第37篇 第12章 不就一分身么？</a>(05-11)</span><span class="s5">我吃西红柿</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/85/85448/" target="_blank">万域独尊系统</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/85/85448/19277156.html" target="_blank">第八百五十七章 焚天灭地</a>(05-11)</span><span class="s5">七斤九钱</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/81/81116/" target="_blank">史上最强师兄</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/81/81116/19277154.html" target="_blank">1143.接踵而至</a>(05-11)</span><span class="s5">八月飞鹰</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/84/84256/" target="_blank">无敌英雄系统</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/84/84256/19277143.html" target="_blank">第六百零四章：震怒</a>(05-11)</span><span class="s5">忘川三途</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/84/84260/" target="_blank">恐怖广播</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/84/84260/19277140.html" target="_blank">第一百二十六章 曾经的住户</a>(05-11)</span><span class="s5">纯洁滴小龙</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/79/79013/" target="_blank">妖冥</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/79/79013/19277130.html" target="_blank">1070</a>(05-11)</span><span class="s5">海贼联萌</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/85/85386/" target="_blank">绝代神主</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/85/85386/19277088.html" target="_blank">第一千零五十八章 准帝强者的一击</a>(05-11)</span><span class="s5">百里龙虾</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/52/52800/" target="_blank">太上章</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/52/52800/19277086.html" target="_blank">067、此忘非彼忘</a>(05-11)</span><span class="s5">徐公子胜治</span></li>
                <li><span class="s2">《<a href="http://www.ranwen.org/files/article/86/86363/" target="_blank">赤龙武神</a>》</span><span class="s3"><a href="http://www.ranwen.org/files/article/86/86363/19277085.html" target="_blank">第1375章 陷入危机</a>(05-11)</span><span class="s5">悠悠帝皇</span></li>
            </ul>
        </div>
        <div class="r">
            <h2>好看的玄幻小说</h2>
            <ul>

                <li><span class="s2"><a href="http://www.ranwen.org/files/article/85/85830/" target="_blank">圣墟</a></span><span class="s5">辰东</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/78/78929/" target="_blank">吞天记</a></span><span class="s5">风青阳</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/77/77326/" target="_blank">真武世界</a></span><span class="s5">蚕茧里的牛</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/77/77172/" target="_blank">十方神王</a></span><span class="s5">贪睡的龙</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/79/79871/" target="_blank">龙王传说</a></span><span class="s5">唐家三少</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/75/75172/" target="_blank">太古神王</a></span><span class="s5">净无痕</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/41/41211/" target="_blank">永夜君王</a></span><span class="s5">烟雨江南</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/77/77088/" target="_blank">天才杂役</a></span><span class="s5">可大可小</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/31/31825/" target="_blank">绝世医尊</a></span><span class="s5">超级菜头</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/19/19388/" target="_blank">大主宰</a></span><span class="s5">天蚕土豆</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/76/76944/" target="_blank">九星杀神</a></span><span class="s5">铁马飞桥</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/84/84931/" target="_blank">爵迹</a></span><span class="s5">郭敬明</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/74/74358/" target="_blank">原始战记</a></span><span class="s5">陈词懒调</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/85/85386/" target="_blank">绝代神主</a></span><span class="s5">百里龙虾</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/15/15163/" target="_blank">我的贴身校花</a></span><span class="s5">带玉</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/72/72300/" target="_blank">不死武尊</a></span><span class="s5">妖月夜</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/19/19132/" target="_blank">医香</a></span><span class="s5">雨久花</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/15/15021/" target="_blank">无尽神功</a></span><span class="s5">灵隐狐</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/85/85790/" target="_blank">穿越之神级作弊器</a></span><span class="s5">小五家的豆包</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/85/85179/" target="_blank">绝鼎丹尊</a></span><span class="s5">万古青莲</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/73/73299/" target="_blank">炼器狂潮</a></span><span class="s5">单纯宅男</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/35/35494/" target="_blank">重生之废材逆世</a></span><span class="s5">飘l柔</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/68/68133/" target="_blank">帝霸</a></span><span class="s5">厌笔萧生</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/16/16588/" target="_blank">药医修真路</a></span><span class="s5">江月徘徊</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/30/30439/" target="_blank">天择</a></span><span class="s5">卷土</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/25/25378/" target="_blank">庶香门第</a></span><span class="s5">莫风流</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/70/70641/" target="_blank">警路仙途</a></span><span class="s5">落寞的蚂蚁</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/19/19588/" target="_blank">异界最强战斗法师 </a></span><span class="s5">木木狂歌</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/31/31856/" target="_blank">唐朝好驸马</a></span><span class="s5">天青地白</span></li>
                <li><span class="s2"><a href="http://www.ranwen.org/files/article/71/71638/" target="_blank">天域苍穹</a></span><span class="s5">风凌天下</span></li>

            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock main %}

