{% extends 'novel_site/base.html' %}
{% load staticfiles %}

{% block meta_description %}
<title>择天记 正文 {{ object.chapter }}全文免费阅读 - 超级小说</title>
<meta name="keywords" content="择天记 {{ object.chapter }}全文阅读。">
<meta name="description" content="超级小说免费为大家提供择天记 {{ object.chapter }}全文阅读,如果你想第一时间观看下一章节,请留意以及收藏超级小说,方便你下次阅读择天记最新章节。">
<!--
<meta http-equiv="mobile-agent" content="format=html5; url={{ object.get_absolute_url_mobile }}">
<meta http-equiv="mobile-agent" content="format=xhtml; url={{ object.get_absolute_url_mobile }}">
-->
{% endblock meta_description %}

{% block optional_script %}
<script src="{% static 'novel_site/js/reader.js' %}"></script>
{% endblock optional_script %}

{% block main %}
<div class="content_read">
<!-- 正文 -->
    <div class="box_con">
        <div class="con_top">
            <a href="/">超级小说</a>
            &gt; 
            <a href="{{ object.title.category.get_category_url }}">{{ object.title.category }}</a>
            &gt; 
            <a href="{{ object.title.get_absolute_url }}">{{ object.title.title }}</a>
            &gt; {{ object.chapter }}
            <div id="page_set">
                <select onchange="javascript:setFont(this.options[this.selectedIndex].value);" id="bcolor" name="bcolor">
                    <option value="宋体" selected="selected">字体</option>
                    <option value="方正启体简体">默认</option>
                    <option value="黑体">黑体</option>
                    <option value="楷体_GB2312">楷体</option>
                    <option value="微软雅黑">雅黑</option>
                </select>
                <select onchange="javascript:setColor(this.options[this.selectedIndex].value);" id="bcolor" name="bcolor">
                    <option value="#000" selected="selected">颜色</option>
                    <option value="#9370DB">暗紫</option>
                    <option value="#2E8B57">藻绿</option>
                    <option value="#2F4F4F">深灰</option>
                    <option value="#778899">青灰</option>
                    <option value="#800000">栗色</option>
                    <option value="#6A5ACD">青蓝</option>
                    <option value="#BC8F8F">玫褐</option>
                    <option value="#F4A460">黄褐</option>
                    <option value="#F5F5DC">米色</option>
                    <option value="#F5F5F5">雾白</option>
                </select>
                <select onchange="javascript:setSize(this.options[this.selectedIndex].value);" id="bcolor" name="bcolor">
                    <option value="19pt" selected="selected">大小</option>
                    <option value="10pt">10pt</option>
                    <option value="12pt">12pt</option>
                    <option value="14pt">14pt</option>
                    <option value="16pt">16pt</option>
                    <option value="18pt">18pt</option>
                    <option value="20pt">20pt</option>
                    <option value="22pt">22pt</option>
                    <option value="25pt">25pt</option>
                    <option value="30pt">30pt</option>
                </select>
                <select onchange="javascript:setSpeed(this.options[this.selectedIndex].value);" name="scrollspeed" id="scrollspeed">
                    <option value=6 selected="selected">滚屏</option>
                    <option value=1>最慢</option>
                    <option value=3>慢</option>
                    <option value=5>中</option>
                    <option value=8>快</option>
                    <option value=10>最快</option>
                </select>
                <select onchange="javascript:setBGColor(this.options[this.selectedIndex].value);" id="bcolor" name="bcolor">
                    <option value="#CCFFCC" style="background-color: #CCFFCC;" selected="selected">背景</option>
                    <option value="#E9FAFF" style="background-color: #E9FAFF;">默认</option>
                    <option value="#FFFFFF" style="background-color: #FFFFFF;">白雪</option>
                    <option value="#000000" style="background-color: #000000;color:#FFFFFF;">漆黑</option>
                    <option value="#FFFFED" style="background-color: #FFFFED;">明黄</option>
                    <option value="#EEFAEE" style="background-color: #EEFAEE;">淡绿</option>
                    <option value="#CCE8CF" style="background-color: #CCE8CF;">草绿</option>
                    <option value="#FCEFFF" style="background-color: #FCEFFF;">红粉</option>
                    <option value="#EFEFEF" style="background-color: #EFEFEF;">深灰</option>
                    <option value="#F5F5DC" style="background-color: #F5F5DC;">米色</option>
                    <option value="#D2B48C" style="background-color: #D2B48C;">茶色</option>
                    <option value="#C0C0C0" style="background-color: #E7F4FE;">银色</option>
                </select>
                <select onchange="javascript:setWidth(this.options[this.selectedIndex].value);" id="bcolor" name="bcolor">
                    <option value="95%" selected="selected">宽度</option>
                    <option value="95%">默认</option>
                    <option value="85%">85%</option>
                    <option value="76%">75%</option>
                    <option value="67%">65%</option>
                    <option value="53%">50%</option>
                    <option value="41%">40%</option>
                </select>
                <label>自动滚屏</label><input type="checkbox" name="autopage" id="autopage" onchange="javascript:setAutopage();" value="" />
                <label>夜间</label><input type="checkbox" name="night" id="night" onchange="javascript:setNight();" value="" />
            </div>
        </div>
        <div class="bookname">
            <h1>{{ object.title }}</h1>
            <div class="bottem1">
                <a href="{{ next_page }}">上一章</a>
                ← 
                <a href="{{ object.title.get_absolute_url }}">章节列表</a>
                →
                <a href="{{ last_page }}">下一章</a>
                <a rel="nofollow" href="" target="_blank">加入书签</a> 
                <a rel="nofollow" href="" target="_blank" style="color:red">错误举报</a>
            </div>
            <div class="lm">热门小说：
            <!-- 还没想好这里怎么推荐，这里也可以和下面合并 -->
                <a href="http://www.ranwen.org/files/article/80/80203/" target="_blank">重生完美时代</a>
                <a href="http://www.ranwen.org/files/article/77/77388/" target="_blank">系统之乡土懒人</a>
                <a href="http://www.ranwen.org/files/article/80/80020/" target="_blank">纯阳武神</a>
                <a href="http://www.ranwen.org/files/article/81/81814/" target="_blank">寒门状元</a>
                <a href="http://www.ranwen.org/files/article/79/79807/" target="_blank">狂武战帝</a>
                <a href="http://www.ranwen.org/files/article/57/57595/" target="_blank">仙路至尊</a>
                <a href="http://www.ranwen.org/files/article/78/78117/" target="_blank">超级指环王</a>
                <a href="http://www.ranwen.org/files/article/77/77423/" target="_blank">我要做首辅</a>
                <a href="http://www.ranwen.org/files/article/59/59755/" target="_blank">近身兵王</a>
                <a href="http://www.ranwen.org/files/article/73/73312/" target="_blank">三国之召唤猛将</a>
            </div>
        </div>
        <div id="content">
        {{ object.content|safe }}
（我一直都很喜欢陈粒，始终认为奇妙能力歌应该用来做将夜的主题曲，也与影视公司认真地提议过，不知道能否成功。我也一直都很喜欢有容，因为篇幅的原因，
很少有机会展现她存在于我想象里的美好，这一章写了点，我很高兴。另外刚才忽然发现，八年前的今天是间客开始的日子，时光真的是……很快就不见了，对我来
说间客是一部非常特殊的作品，以文字论不及将夜和择天记，却是我个人最喜欢的故事，如果有朋友没有看过的，推荐您去看一下。）
        </div>
        <div class="bottem1">
        <!-- 这里看怎么复用 -->
            <a href="{{ next_page }}">上一章</a>
            ← 
            <a href="{{ object.title.get_absolute_url }}">章节列表</a>
            → 
            <a href="{{ last_page }}">下一章</a>
            <a rel="nofollow" href="" target="_blank">加入书签</a> 
            <a rel="nofollow" href="" target="_blank" style="color:red">错误举报</a>
        </div>
    </div>
</div>
{% endblock main %}

{% block footer_link %}
<div class="footer_link">完本推荐：
        <!-- 这里看一下怎么改 -->
            <a href="http://www.ranwen.org/files/article/5/5719/" target="_blank">九阴九阳</a>
            <a href="http://www.ranwen.org/files/article/4/4990/" target="_blank">黄河鬼棺</a>
            <a href="http://www.ranwen.org/files/article/2/2661/" target="_blank">琴帝</a>
            <a href="http://www.ranwen.org/files/article/4/4253/" target="_blank">倚天屠龙夺艳记</a>
            <a href="http://www.ranwen.org/files/article/6/6306/" target="_blank">木槿花西月锦绣</a>
            <a href="http://www.ranwen.org/files/article/3/3418/" target="_blank">恶魔法则</a>
            <a href="http://www.ranwen.org/files/article/2/2762/" target="_blank">空速星痕</a>
            <a href="http://www.ranwen.org/files/article/3/3185/" target="_blank">寸芒</a>
            <a href="http://www.ranwen.org/files/article/3/3082/" target="_blank">绝代双骄</a>
            <a href="http://www.ranwen.org/files/article/1/1386/" target="_blank">星辰变</a>
            <a href="http://www.ranwen.org/files/article/5/5123/" target="_blank">刑名师爷</a>
        </div>
{% endblock footer_link %}

{% block move_widget %}
<div id="shangxia">
        <div id="shang" title="↑ 返回顶部"></div>
        <div id="comt" title="查看评论"></div>
        <div id="xia" title="↓ 移至底部"></div>
        <div id="myrss" title="Hi!看点不一样的?" onclick="window.open('/');"></div>
</div>
{% endblock move_widget %}