{% extends 'novel_site/base.html' %}
{% load staticfiles %}

{% block meta_description %}
<title>超级小说_书友最值得收藏的网络小说阅读网</title>
<meta name="keywords" content="超级小说网,小说阅读网,superxiaoshuo.com">
<meta name="description" content="超级小说是广大书友最值得收藏的网络小说阅读网,网站收录了当前最火热的网络小说,免费提供高质量的小说最新章节,是广大网络小说爱好者必备的小说阅读网。">
{% endblock meta_description %}
{# 主页是可以写死的 #}
{% block main %}
<div id="main">
        <div id="hotcontent">
            <div class="l">
                {% for book in top_four %}
                <div class="item">
                    <div class="image"><a href="{{ book.get_absolute_url }}" target="_blank"><img src="{% static book.image %}" alt="{{ book.title }}" width="120" height="150"></a></div>
                    <dl>
                        <dt><span>{{ book.author }}</span><a href="{{ book.get_absolute_url }}" target="_blank">{{ book.title }}</a></dt>
                        <dd>{{ book.resume }}</dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                {% endfor %}
            </div>
            <div class="r">
                <h2>公告牌</h2>
                <ul><li><span class="s1">[公告]</span><span class="s2">超级小说永久域名www.superxiaoshuo.com</span></li></ul>
                <h2>上期强推</h2>
                <ul>
                    {# 这里可以考虑写死 #}
                    <li><span class="s1">[玄幻]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/56/56048/" target="_blank">择天记</a></span><span class="s5">猫腻</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/77/77081/" target="_blank">雪鹰领主</a></span><span class="s5">我吃西红柿</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/41/41211/" target="_blank">永夜君王</a></span><span class="s5">烟雨江南</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/16/16866/" target="_blank">武炼巅峰</a></span><span class="s5">莫默</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/71/71638/" target="_blank">天域苍穹</a></span><span class="s5">风凌天下</span></li>
                    <li><span class="s1">[玄幻]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/75/75172/" target="_blank">太古神王</a></span><span class="s5">净无痕</span></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="novelslist">
        {% for book, books in cate_list1 %}
            <div class="content">
                <h2><a href="{{ book.category.get_absolute_url }}">{{ book.category }}</a></h2>
                <div class="top">
                    <div class="image"><a href="{{ book.get_absolute_url }}" target="_blank"><img src="{% static book.image %}" alt="{{ book.title }}" width="67" height="82"></a></div>
                    <dl>
                        <dt><a href="{{ book.get_absolute_url }}" target="_blank">{{ book.title }}</a></dt>
                        <dd>{{ book.resume }}</dd>
                    </dl>
                    <div class="clear"></div>
                </div>
                <ul>
                    {% for book in books %}
                        <li><a href="{{ book.get_absolute_url }}" target="_blank">{{ book.title }}</a>/{{ book.author }}</li>
                    {% empty %}
                        <li><p>sorry, not found any book</p></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
        <div class="novelslist">
            {% for book, books in cate_list2 %}
                <div class="content">
                    <h2><a href="{{ book.category.get_absolute_url }}">{{ book.category }}</a></h2>
                    <div class="top">
                        <div class="image"><a href="{{ book.get_absolute_url }}" target="_blank"><img src="{% static book.image %}" alt="{{ book.title }}" width="67" height="82"></a></div>
                        <dl>
                            <dt><a href="{{ book.get_absolute_url }}" target="_blank">{{ book.title }}</a></dt>
                            <dd>{{ book.resume }}</dd>
                        </dl>
                        <div class="clear"></div>
                    </div>
                    <ul>
                    </ul>
                    {% for book in books %}
                        <li><a href="{{ book.get_absolute_url }}" target="_blank">{{ book.title }}</a>/{{ book.author }}</li>
                    {% empty %}
                        <p>sorry, not found any book</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div id="newscontent">
            <div class="l">
                <h2>最近更新小说</h2>
                <ul>
                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/83/83533/" target="_blank">入侵娱乐圈的骗子</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/83/83533/19277557.html" target="_blank">第八六四章 乌克兰美女</a></span><span class="s4">o成佛o</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[修真小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86359/" target="_blank">奇侠系统</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86359/19277556.html" target="_blank">第三百三十五章 查案任务</a></span><span class="s4">萧胡</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/82/82104/" target="_blank">仙界归来</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/82/82104/19277555.html" target="_blank">第一千零二十三章 斩断前尘往事</a></span><span class="s4">静夜寄思</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/85/85034/" target="_blank">极品美女的近身保镖</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/85/85034/19277554.html" target="_blank">第七百零七章 老初恋情人</a></span><span class="s4">星辰空</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[修真小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/85/85752/" target="_blank">帝皇演义</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/85/85752/19277553.html" target="_blank">第四一零章 伺机而动</a></span><span class="s4">言子木</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[恐怖小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/79/79818/" target="_blank">御鬼者传奇</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/79/79818/19277551.html" target="_blank">第1587章 巨妖蝶</a></span><span class="s4">沙之愚者</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[历史小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86052/" target="_blank">带着仓库到大明</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86052/19277550.html" target="_blank">第687章 大过年的给朱棣添堵</a></span><span class="s4">迪巴拉爵士</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[修真小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/82/82210/" target="_blank">最强反派系统</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/82/82210/19277549.html" target="_blank">第一千零一十七章 馨儿的选择</a></span><span class="s4">封七月</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86787/" target="_blank">他是鬼神通</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86787/19277547.html" target="_blank">第二百五十三章 这不是巧了吗？</a></span><span class="s4">水果先锋</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[历史小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86198/" target="_blank">三国美人录</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86198/19277548.html" target="_blank">四百八十一章 画换宅院</a></span><span class="s4">安静的蜗牛</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[历史小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86732/" target="_blank">宰执大宋</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86732/19277545.html" target="_blank">第三二三 高丽国的那些事儿</a></span><span class="s4">会元</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/85/85924/" target="_blank">从零开始的奇门后人异世行</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/85/85924/19277544.html" target="_blank">504.登上巨轮</a></span><span class="s4">神棍灵昊</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[历史小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/85/85792/" target="_blank">三国之无限抽奖</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/85/85792/19277543.html" target="_blank">第四百七十四章 陷入死地的疯狂</a></span><span class="s4">易子曰</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86819/" target="_blank">你好，少将大人</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86819/19277541.html" target="_blank">第789章 夏虫不可以语冰（第一更求月票）</a></span><span class="s4">寒武记</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[历史小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/80/80924/" target="_blank">逆袭水浒传</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/80/80924/19277540.html" target="_blank">第卅二章欺国巨骗有郭京 离间传信使高俅</a></span><span class="s4">不开心的橘子</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[科幻小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/78/78789/" target="_blank">全民武侠时代</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/78/78789/19277539.html" target="_blank">第一千三十八章 （二合一）</a></span><span class="s4">斩心锁</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[玄幻小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86511/" target="_blank">枪神之怒</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86511/19277538.html" target="_blank">第三百七十四章 我们被出卖了</a></span><span class="s4">天涯路</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86882/" target="_blank">Hello，公爵大人！</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86882/19277537.html" target="_blank">664 伤害</a></span><span class="s4">藤三三</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[言情小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/80/80882/" target="_blank">嫡福</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/80/80882/19277536.html" target="_blank">第四百四十一章 不服</a></span><span class="s4">晓风清露</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[玄幻小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/79/79885/" target="_blank">神道丹尊</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/79/79885/19277534.html" target="_blank">第2914章 自愿者</a></span><span class="s4">孤单地飞</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/84/84634/" target="_blank">重生之我是大明星</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/84/84634/19277532.html" target="_blank">第六百五十九章 退出吧！</a></span><span class="s4">向晚非雪</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86838/" target="_blank">今夫古妻日常</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86838/19277530.html" target="_blank">388好话</a></span><span class="s4">俊羊羊</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[修真小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/84/84521/" target="_blank">九界仙尊</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/84/84521/19277529.html" target="_blank">第九百七十六章 血染凌霄城（上）</a></span><span class="s4">神出古异</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[其他小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/85/85891/" target="_blank">青云直上</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/85/85891/19277518.html" target="_blank">第一千五百七十七章 印中立视察</a></span><span class="s4">鹅城知县</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[网游小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86096/" target="_blank">网游之战破苍穹</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86096/19277490.html" target="_blank">第634章，松上太一</a></span><span class="s4">九月花雪</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[科幻小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/85/85213/" target="_blank">超时空之城</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/85/85213/19277488.html" target="_blank">第三章 被世人误解的玉皇大帝</a></span><span class="s4">东方星火</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[都市小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/79/79534/" target="_blank">重生之超级砼帝国</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/79/79534/19277487.html" target="_blank">第九百七十章 失眠的人儿</a></span><span class="s4">砼中砼</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[玄幻小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86418/" target="_blank">极品书虫的世界</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86418/19277486.html" target="_blank">第374章 樱唇</a></span><span class="s4">搬砖的二哥</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[网游小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/73/73028/" target="_blank">两球成名</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/73/73028/19277485.html" target="_blank">第一百八十六章 繁荣背后的隐患</a></span><span class="s4">夜轻雨暖</span><span class="s5">05-11</span></li>

                    <li><span class="s1">[历史小说]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86752/" target="_blank">诡三国</a></span><span class="s3"><a href="http://www.superxiaoshuo.com.org/files/article/86/86752/19277484.html" target="_blank">第三三七章 风起</a></span><span class="s4">马月猴年</span><span class="s5">05-11</span></li>

                </ul>
            </div>
            <div class="r">
                <h2>最新入库小说</h2>
                <ul>
                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86906/" target="_blank">青诡纪事</a></span><span class="s5">04-17</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86903/" target="_blank">大妖寻夫指南</a></span><span class="s5">04-15</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86904/" target="_blank">总裁夫人二选一</a></span><span class="s5">04-15</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86905/" target="_blank">庶女日记</a></span><span class="s5">04-15</span></li>

                    <li><span class="s1">[都市]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86901/" target="_blank">神级蚊子</a></span><span class="s5">04-15</span></li>

                    <li><span class="s1">[言情]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86902/" target="_blank">重生空间之光荣军属</a></span><span class="s5">04-15</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86900/" target="_blank">灵异之鬼图腾</a></span><span class="s5">04-15</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86899/" target="_blank">穿越黑棺</a></span><span class="s5">04-15</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86897/" target="_blank">冷王，医妃要私奔</a></span><span class="s5">04-14</span></li>

                    <li><span class="s1">[言情]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86898/" target="_blank">重生当军嫂</a></span><span class="s5">04-14</span></li>

                    <li><span class="s1">[都市]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86896/" target="_blank">捡宝王</a></span><span class="s5">04-14</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86894/" target="_blank">绝色丹师：驭火成仙</a></span><span class="s5">04-13</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86895/" target="_blank">全能少女：校草男神抢着爱</a></span><span class="s5">04-13</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86893/" target="_blank">重生之大神是天后</a></span><span class="s5">04-12</span></li>

                    <li><span class="s1">[都市]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86892/" target="_blank">我的国术梦</a></span><span class="s5">04-11</span></li>

                    <li><span class="s1">[都市]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86891/" target="_blank">谍行漫威</a></span><span class="s5">04-11</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86887/" target="_blank">绝色妖娆：鬼医至尊</a></span><span class="s5">04-10</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86888/" target="_blank">医妃嫁到：皇叔，成亲吧</a></span><span class="s5">04-10</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86889/" target="_blank">史上最强宠：帝少，一对一</a></span><span class="s5">04-10</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86890/" target="_blank">不做救世主</a></span><span class="s5">04-10</span></li>

                    <li><span class="s1">[都市]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86886/" target="_blank">超级U盘</a></span><span class="s5">04-10</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86885/" target="_blank">快穿之炮灰虐渣旅</a></span><span class="s5">04-10</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86884/" target="_blank">美人谋欢</a></span><span class="s5">04-09</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86882/" target="_blank">Hello，公爵大人！</a></span><span class="s5">04-09</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86883/" target="_blank">魔女香雪海</a></span><span class="s5">04-09</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86881/" target="_blank">嫡女当嫁：一等世子妃</a></span><span class="s5">04-09</span></li>

                    <li><span class="s1">[都市]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86880/" target="_blank">连环杀手在美国</a></span><span class="s5">04-05</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86879/" target="_blank">最初的魔鬼</a></span><span class="s5">04-05</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86877/" target="_blank">穿书之为何我完成不了捧杀</a></span><span class="s5">04-05</span></li>

                    <li><span class="s1">[其他]</span><span class="s2"><a href="http://www.superxiaoshuo.com.org/files/article/86/86876/" target="_blank">穿梭时空的剑仙</a></span><span class="s5">04-05</span></li>

                </ul>
            </div>
        <div class="clear"></div>
    </div>
</div>
<div id="firendlink">
友情连接：<a href="http://www.baidu.com/" target="_blank">百度</a>
<a href="http://www.superxiaoshuo.com" target="_blank">超级</a>
<a href="http://www.superxiaoshuo.com" target="_blank">超级小说</a>
</div>
{% endblock main %}

