{% extends 'novel_site/base.html' %}

{% block main %}
{% for chapter in chapter_list %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{{ chapter.get_absolute_url }}">{{ chapter.chapter }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">Web Design</a></span>

                <span class="post-date"><a href="#"><time class="entry-date" datetime="{{ chapter.modified_time }}">{{ chapter.modified_time }}</time></a></span>

                <span class="post-author"><a href="#">lulu</a></span>

                <span class="comments-link"><a href="#">4 Comments</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>Noneexit</p>
            <div class="read-more cl-effect-14">
                <a href="{{ chapter.get_absolute_url }}" class="more-link">Continue reading <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
{% empty %}
    <div class="no-post">no yet~</div>
{% endfor %}
{% endblock main %}