{% extends 'novel_site/base.html' %}
{% load staticfiles %}

{% block meta_description %}
<title>超级小说_{{ object.title }}最新章节</title>
<meta name="keywords" content="{{ object.title }},{{ object.title }}txt下载，{{ object.title }}最新章节,{{ object.title }}无弹窗广告全文阅读,{{ object.title }}超级小说。">
<meta name="description" content="《{{ object.title }}》是{{ object.author }}的作品,超级小说提供{{ object.title }}最新章节列表全文阅读,超级小说保证比同类网站更新更快,绝无弹窗广告保证无章节错误100%正确保证无广告,《{{ object.title }}》无弹窗广告全文阅读就在超级小说。">
<link rel="alternate" href="http://m.superxiaoshuo.com/info/{{ object.id }}">
{% endblock meta_description %}

{%  block main %}
<div class="box_con">
        <div class="con_top">
        <a href="/">超级小说</a>
        &gt;
        <a href="{{ object.category.get_absolute_url }}">{{ object.category }}</a>
        &gt;
        {{ object.title }}
        </div>
        <div id="maininfo">
            <div id="info">
                <h1>{{ object.title }}</h1>
                <p>作者：{{ object.author }}</p>
                {# 这个加入收藏和到底部要重写 #}
                <p>状态：{{ object.status }},  <a rel="nofollow" href="http://www.ranwen.org/modules/article/addbookcase.php?bid=56048" target="_blank">加入收藏</a>, <a href="#footer">直达底部</a></p>
                <p>最后更新：{{ object.update_time|date:'Y-m-d H:i:s' }}</p>
                <p>最新章节：<a href="{{ latest_chapter.get_absolute_url }}" target="_blank">{{ latest_chapter.chapter }}</a></p>

            </div>
            <div id="intro">
                <p>{{ object.resume }}</p>
                <p>各位书友要是觉得《{{ object.title }}》还不错的话请不要忘记向您QQ群和微博里的朋友推荐哦！</p>
            </div>
        </div>
        <div id="sidebar">
            <div id="fmimg"><img alt="{{ object.title }}" src="{% static object.image %}" onerror="this.src={% static 'novel_site/images/miss.jpg' %}" width="120" height="150"/></div>
        </div>
        <div id="listtj">推荐阅读：
            {% comment %} 还没想好这里怎么推荐，这里也可以和下面合并 {% endcomment %}
                <a href="http://www.ranwen.org/files/article/80/80203/" target="_blank">重生完美时代</a>
                <a href="http://www.ranwen.org/files/article/77/77388/" target="_blank">系统之乡土懒人</a>
                <a href="http://www.ranwen.org/files/article/80/80020/" target="_blank">纯阳武神</a>
                <a href="http://www.ranwen.org/files/article/81/81814/" target="_blank">寒门状元</a>
                <a href="http://www.ranwen.org/files/article/79/79807/" target="_blank">狂武战帝</a>
                <a href="http://www.ranwen.org/files/article/57/57595/" target="_blank">仙路至尊</a>
                <a href="http://www.ranwen.org/files/article/78/78117/" target="_blank">超级指环王</a>
                <a href="http://www.ranwen.org/files/article/77/77423/" target="_blank">我要做首辅</a>
                <a href="http://www.ranwen.org/files/article/59/59755/" target="_blank">近身兵王</a>
                <a href="http://www.ranwen.org/files/article/73/73312/" target="_blank">三国之召唤猛将</a>
        </div>
</div>
<div class="box_con">
    <div id="list">
        <dl>
            <dt>《{{ object.title }}》正文</dt>
            {% comment %}
            {%  for chapter in object.all_chapters %}
            <dd><a href="{{ chapter.get_absolute_url }}">{{ chapter.chapter}}</a></dd>
            {% endfor %}
            {% endcomment %}
            {%  for chapter in all_chapters %}
                <dd><a href="{{ chapter.get_absolute_url }}">{{ chapter.chapter}}</a></dd>
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock main %}
