{% extends 'novel_site/base.html' %}
{% load staticfiles %}


{% block main %}
<script type="text/javascript">
    var cse;
    
    //处理结果回调函数示例
    function display (data) {
        console.log(data);
    }

    //初始化回调函数示例
    function init () {
        cse = new BCse.Search("1604710364988002316");    //参数为您的API引擎ID，已自动填写，必需。
        
        cse.getResult("关键词", display);    //此方法获取搜索结果，参数1为搜索词，参数2为您获取到结果后想要执行的回调函数。
    }

    function loadScript () { 
        var script = document.createElement("script"); 
        script.type = "text/javascript";
        script.charset = "utf-8";
        script.src = "http://zhannei.baidu.com/api/customsearch/apiaccept?sid=1604710364988002316&v=2.0&callback=init";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(script, s);
    }

    loadScript();
</script>
{% endblock main %}