{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block meta_description %}
    <title>{{ cate }}小说小说排行榜-超级小说移动版</title>
    <meta name="keywords" content="{{ cate }}小说小说排行榜,{{ cate }}小说小说txt下载">
    <meta name="description" content="超级小说移动版提供免费、热门的{{ cate }}小说小说排行榜、最新{{ cate }}小说小说及TXT下载。">
    <link rel="canonical" href="http://www.superxiaoshuo.com/cate/{{ cate.cate }}">
{% endblock meta_description %}

{% block header %}
    <div class="header">
        <a href="javascript:history.go(-1);" class="return">返回</a>
        <a href="/" class="home">首页</a>
        <a href='/'>
        <h2>超级小说</h2>
        <p>m.superxiaoshuo.com</p>
        </a>
    </div>
{% endblock header %}

{% block main %}
    <div class="content">
        <ul>
            <li class="prev"><a href="/cate/xuanhuan/">玄幻修真</a></li>
            <li class="prev"><a href="/cate/kehuan/">科幻网游</a></li>
            <li class="prev"><a href="/cate/dushi/">都市重生</a></li>
        </ul>
        <ul>
            <li class="prev"><a href="/cate/jiakong/">架空历史</a></li>
            <li class="prev"><a href="/cate/kongbu/">恐怖网游</a></li>
            <li class="prev"><a href="/cate/quanben/">全本小说</a></li>
        </ul>
    </div>

    <div class="toptab"><span class="active">{{ cate }}小说</span></div>

    {% for book in cate_books %}
    <div class="bookbox">
        <div class="bookimg">
            <a href="{{ book.get_mobile_url }}">
                <img src="{% static book.image %}" onerror="this.src='{% static book.miss_img_path %}'">
            </a>
        </div>
        <div class="bookinfo">
            <h4 class="bookname"><a href="{{ book.get_mobile_url }}">{{ book.title }}</a></h4>
            <div class="author">作者：{{ book.author }}</div>
            <div class="update"><span>更新至：</span><a href="{{ book.latest_chapter.get_mobile_url }}">{{ book.latest_chapter.chapter }}</a></div>
            <div class="intro_line">
                <span>简介：</span>{{ book.resume|truncatechars:30 }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="page"><a href="http://m.superxiaoshuo.com/xuanhuan/2">下页</a><a href="http://m.superxiaoshuo.com/xuanhuan/2785"> 尾页</a></div><div class="page"><form name="checklogin" method="post" action="">输入页数<input name="page" format="*N" size="4"><input name="submit" value="跳转" onclick="window.location='/xuanhuan/'+this.previousSibling.value;" type="button"> </form>(第1/2785页)当前15条/页</div>
{% endblock main %}

