{% extends 'mobile/info.html' %}
{% load staticfiles %}


{% block main %}
    <div class="intro" style="font-size: 20px">{{ info.title }}</div>
    <ul class="chapter">
        {% for contact in contacts %}
            <li><span></span>
                <a href="{{ contact.get_mobile_url }}">{{ contact.chapter }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="page">
        <a href="http://superxiaoshuo.com/info/{{ info.id }}-1">首页</a>

        {% if contacts.has_previous %}
            <a href="http://superxiaoshuo.com/info/{{ info.id }}-{{ contacts.previous_page_number }}">上一页</a>
        {% endif %}

        {% if contacts.has_next %}
        <a href="http://superxiaoshuo.com/info/{{ info.id }}-{{ contacts.next_page_number }}">下一页</a>
        {% endif %}

        <a href="http://superxiaoshuo.com/info/{{ info.id }}-{{ num_pages }}">尾页</a>
    </div>
    <div class="page">
        <div style="font-size: 18px;">
            <form action="">
                请选择页数
                <select id="page_num" style="width: 75px; height: 30px; font-size: 20px; margin-top: 5px;"  onchange="goToPaginator()">
                    {% for page in page_range %}
                        {% if page == contacts.number %}
                        <option value="{{ page }}"  selected="selected">{{ page }}</option>
                        {% else %}
                        <option value="{{ page }}">{{ page }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="button" style="margin-left: 10px; padding: 2px 15px;"  onclick="Paginator()">GO</button>
            </form>
        </div>
            <br/>
            第{{ contacts.number }}/{{ num_pages }}页
    </div>
{% endblock main %}
