{% extends 'mobile/base.html' %}
{% load staticfiles %}

{% block main %}
<div style="width: 100%">
    <div id="bdcs-frame-box"></div>
    <script type="text/javascript">
        var bdcsFrameSid="13024648538113669062";
        var bdcsFrameWidth = 552;
        var bdcsFrameWt = 1;
        var bdcsFrameHt = 1;
        var bdcsFrameResultNum = 10;
        var bdcsFrameBgColor = "#CCFFCC";
    </script>
    <script type="text/javascript" src="http://zhannei.baidu.com/static/js/iframe.js">
    </script>
</div>
{% endblock main %}
