body, h1, h2, h3, h4, h5, h6, p, div, ul, li, dl, dt, dd, h1 {margin:0;padding: 0;}
html {background:#fff;font:16px/1.5 'microsoft yahei';}
input, textarea {font-size:12px;font-family:'microsoft yahei';}
li {list-style:none;}
img {border:none;margin:0;padding:0;}
a {color:#000; text-decoration:none;}
body {
	background:#fff;
	color:#999;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    height:0px;
	clear:both;
}
.margin_right{
    margin-right:2%;
}
.height{
    height:5px;
	clear:both;
}
.line{
    border-bottom:1px solid #efefef;
	padding-bottom:5px;
	padding-top:5px;
	color:#999;
}
.gray{color:gray;}
.blue{color:#007BB1;font-size:18px;}

/*header*/
.header {
    background-color: #007BB1;
    font-size: 20px;
    color: #fff;
    height: 50px;
    line-height: 26px;
    text-align: center;
    overflow: hidden;
    display: block;
}
.back_r {
    float: right;
    padding: 0 10px;
    height: 28px;
    margin: 10px 10px;
    line-height: 26px;
    font-size: 14px;
    background-color: #65bbec;
    border-radius: 3px;
    width: 30px;
}
.return {
    padding: 0 10px;
    height: 28px;
    margin: 10px 10px;
    line-height: 26px;
    font-size: 14px;
    background-color: #2babdb;
    border-radius: 3px;
    float: left;
}
.header a{
    color: #FFF;
}
.header h1 {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    color: #fff;
}
.header h2 {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 6px;
}
.header p {
    font-size: 15px;
	line-height: 80%;
}.logo {
	float:left;
	margin-left:10px;
}
.logo a{
	color:#fff;
}
.reg{
    float:right;
    padding-right:10px;
	padding-top: 13px;
	font-size:16px;
	color:#fff;
}
.reg a{
	color:#fff;
	margin-left:10px;
}
.box{	
    background-color:#65bbec;
	padding:5px;
	margin-left:5px;
	border-radius:3px;
	color:#fff;
	height:20px;
	font-size:14px;
}
.back{
    float: left;
    padding: 0 10px;
    height: 28px;
    margin: 10px 10px;
    line-height: 26px;
    font-size: 14px;
    background-color: #65bbec;
    border-radius: 3px;
    width: 30px;
}
.back a{
	color:#fff;
}
.home{
    padding: 0 10px;
	height: 28px;
	margin: 10px 10px;
	line-height: 26px;
	font-size: 14px;
	background-color:#65bbec;
	border-radius:3px;
	float:right;
}
.home a{
	color:#fff;
}
.head_color {
    display: -webkit-box;
	display: -moz-box;
	display: box;
}

/*nav*/
.nav {
	float:left;
	width:100%;
	background-color:#ECF0F0;    
	height:35px; 
	line-height:35px;
	overflow:hidden;
	margin-bottom:10px;
}
.nav ul li{
    color:#333;
	display:block;
	width:25%;
	overflow:hidden
	height:20px;
	float:left;
    text-align: center;
}
.position{
	height:35px; 
	line-height:35px;
	font-size: 16px;
	color: #666;
	background-color: #ECF0F0;
	text-indent: 8px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;

}
/*search*/
.search{
	padding:10px 5px 0px 5px;
}

.search .key{
    height:25px;
	width:90%;
	line-height:25px; 
	border:0px;
	color:#999;
	text-indent:5px;
	font-size:16px;
}
.search .go{
    height:30px;
	width:35px; 
	border:0px; 
	background-color:transparent; 
	z-index:9999;
}
.search .type{
    background-color:#fff; 
	border:1px solid #CCC;
	width:50px; 
	height:35px; 
	line-height:35px; 
	text-align:center; 
	font-weight:bold;
	color:#000;
}
.search .frame{
	background-color:#fff; 
	border:1px solid #CCC;
}
.search .button{
	width:35px; 
	background-color:#0080C0; 
	background-image:url(search.png); 
	background-repeat:no-repeat;
	background-position:center;
}
/*article*/
.article{
    margin: 10px auto 10px auto;
}
.title {
	height:35px;
	background:#ECF0F0;
	border-bottom:2px solid #007BB1;
	color:#000;
	font-size:16px;
	padding-left:10px;
	line-height:35px;
	font-weight:normal;
	font-weight:bold;
}
.title a {
	float:right;
	padding-right:10px;
	font-size:14px;
	font-weight:normal;
}
.title span a{float:left;font-size:16px;font-weight:bold;}
.title a.on {
	color:#623f01;
}
.title .more{
    float:right;
	margin-right:10px;
}
.title .more a{
    color:#fff;
}
.block{
	text-indent:10px;
}
.block_img{height:auto;border:0px;overflow:hidden;padding-top:10px;padding-bottom:10px;float:left;}
.block_img2{height:auto;border: 1px solid #DEDEDE;overflow:hidden;padding-top:10px;padding-bottom:5px;padding-right:10px;float:left;}
.block_txt{border:0px;height:100px; overflow:hidden; line-height:20px;padding-top:8px;}
.block_txt2{border:0px;height:120px; overflow:hidden; line-height:18px;}

.block_txt h1, .block_txt2 h1{font-size:20px;height:auto;}
.block_txt h2, .block_txt2 h2{font-size:18px;height:auto;font-weight: normal;}
.block_txt p, .block_txt2 p{height:auto;font-size:14px;}
.block ul{}
.block li{
	line-height:35px;
	border-bottom: 1px solid #ECECEC;
}
/*reg,login*/
.login{
    margin:10px 7px 10px 7px;
}
.login div{	display:block;
	overflow:hidden
}
.login table{
    width:100%;
}
.login table .td1{
   width:80px;
   padding:20px 0px;
}
.login_name{
   border:1px solid #007BB1;
   height:25px;width:95%;
   border-radius:3px;
 }
.login_btn{ 
    display:block;
	background-color:#007BB1;
	margin:20px 5px 20px 5px; 
	text-align:center;
	color:#fff; 
	font-weight:bold;
	height:40px; 
	line-height:40px;
	border-radius:2px;
}
.login_btn a{color:#fff;}
.login_tips{ display:block;margin:20px 10px 20px 10px;  text-align:center;color:red; font-weight:bold;height:40px; line-height:40px;border-radius:2px}
#info{height:30px; line-height:30px; text-align:right;color:#fff;padding-right:15px;background-color:#65bbec;font-size:14px;}
.btn{
    border:none;
	width:100%;
	font-weight:bold;
	background: #007BB1;
	color: white;
	border-radius:3px;
	font-size:16px;
	font-family:"microsoft yahei";
	cursor:pointer;
}

/*info*/
.cover, .list{
    width: 99%;
    margin: 10px auto 10px auto;
    height: auto;
    overflow: hidden;
}
.cover p, .list p{
}
.cover h1 {
    height: 30px;
    line-height: 30px;
    background: #fff;
    font-size: 18px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list h1{
     padding: 0 5px;
	 height: 35px;
	 line-height: 35px;
	 background:#fff;
	 font-size:18px;
	 color:#000;
	 border-bottom: 1px solid #efefef;
}

.chapter li{
    border-bottom:1px solid #efefef;
	padding-bottom:5px;
	padding-top:5px;
	color:#999;display:list-item;
}
.chapter li a{display:block; border-radius:4px;overflow:hidden;display:list-item;}
.chapter span {background: url(list.png) no-repeat scroll 0 0 transparent;display: block;float: right;height: 20px; margin-right: 10px;margin-top: 5px;width: 14px;}

.ablum {
    height: auto;
	overflow: auto;
	padding-bottom: 5px;
}
.ablum_img img {
    float: left;
	padding: 2px;
	border: 1px solid #DEDEDE;
	overflow:hidden;
	background:url(images/cover.jpg);
}
.ablum_img2 img {
    float: left;
	height: 85px;
	padding: 2px;
	border: 1px solid #DEDEDE;
	overflow:hidden;
	width:70px;
	background:url(images/cover.jpg);
}

.ablum_info{
    float: left;
	line-height: 28px;
	padding-left: 10px;
	font-size: 15px;
	height:100px;
	overflow:hidden;
}

.ablum div{
	height:auto;
}
.ablum div a{
}
.ablum .new a{
    color:#007BB1;
	font-weight:bold;
}
.ablum_read {
    height: auto;
	padding: 5px 0px 5px 0px;
	overflow: hidden;
}
.ablum_read span{
    background:#65bbec;
	border-radius:3px;
	height:40px;
	line-height:40px;
	text-align:center;
	width: 48%;
	float: left;
}
.ablum_read span a{
    color:#fff;
	display:block;
}
.more, .more a {
    background: #65bbec;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    display: block;
}
#new {
height: 165px;
width: 130px;
background: none;
}
.intro{
	border-bottom: 2px solid #65bbec;
    background:#ECF0F0;
	height:35px;
	line-height:35px;
	padding-left:8px;
	font-weight:bold;
	font-size: 15px;
	color:#000;
	margin-top: 5px
}
.intro_info{
	padding-left: 8px;
}
.user{ 
    width: 99%;
    margin: 10px auto 10px auto;
    height: auto;
    overflow: hidden;
	border-top: 2px solid #999;
	line-height: 35px;
}

.bookbox{position:relative;overflow:auto;padding:14px 8px;border-bottom:1px solid #dfdfdf}
.bookbox::after{visibility: hidden;display:block;font-size:0;content: ' ';clear: both;height:0;}
.bookbox:hover{background:#f9f9f9}
.bookbox .bookimg{float:left;margin-right:10px;width:74px;height:98px}
.bookimg img{width:78px;height:98px}
.bookinfo{ overflow:hidden;z-index:2}
.bookbox .bookname{font-size:16px;height:29px; overflow:hidden; display:-webkit-box;position: relative;}
.bookbox .bookname div{-webkit-box-flex:1;height: 22px;line-height: 22px;overflow: hidden;}
.bookbox .bookname .iTit{overflow:hidden;max-width:6em;display: block;height:22px;line-height:22px}
h4.bookname a {color: #007BB1;}
.bookbox .author,.bookbox .cat{ color:#8f8f8f;height:24px;font-size:13px}
.bookbox .update,.bookbox .intro_line{color:#4c4c4c; font-size:13px;line-height:24px;height:24px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
.bookbox .update span,.bookbox .intro_line span,.bookbox .info span{color:#a8a8a8}
.bookbox .info{color:#4c4c4c; font-size:13px;line-height:23px;height:auto;}
.bookbox .delbutton{z-index:999;position: absolute;right: 8px;top: 18px;}
.bookbox .delbutton a{display:inline-block;width:55px;height:30px;font-size:13px;line-height:30px;border-radius:4px; text-align:center;background:#f2f2f2;color:#4c4c4c;}
.bookbox .delbutton .del_but{border:1px solid #ff4643;background: none;color: #ff4643;box-sizing:border-box;}




.toptab{margin-top:10px;display:-webkit-box;border:1px solid #dfdfdf;border-width:1px 0 1px 0;background:#f2f2f2}
.toptab span{-webkit-box-flex:1; text-align:center; line-height:30px;display:block;color:#4c4c4c;height:30px;border-right:1px solid #dfdfdf;width:0; overflow:hidden}
.toptab span:last-child{border-right:0}
.toptab span.active{color:#000;border-bottom:3px solid #3ba8de; overflow:hidden}
/*style*/
.set{
	height:32px;
	padding-top:10px;
	font-size:12px;	
	width:100%;
	color:#000;
}
.set .set1{
	float:right;
	border:1px solid #007BB1;
	padding:2px 10px;
	margin-left:10px;
	border-radius:5px;
	color:#0065B5;
}
.set .set2 div{
	border:1px solid #007BB1;
	float:left;
	padding:2px 7px;
	margin-left:5px;
	border-radius:3px;
	color:#0065B5;
}
.set .set2 p{
    border:1px solid #007BB1;
	float:left;
	padding:5px 5px;
	margin-left:5px;
	border-radius:3px;
	color:#0065B5;
}
.content{
    width:98%;
	margin-left:2px;
	margin-top:10px;
	color:#000;
}

.content h1{
    padding:10px 5px;
	font-weight:bold;
	font-size:18px; 
	text-align:center;
}
.content ul{ 
    display:-moz-box;
	display:-webkit-box;
	display:box;
	margin-bottom:5px;
	margin-top: 5px;
}
.content li{
    text-align:center;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
}
.content .prev{
    text-align:left;
	margin-left:7px;
}
.content .mulu{
    text-align:center;
}
.content .next{
    text-align:right;
	margin-right:7px;
}
.prev a,.mulu a,.next a{
    display:block;
	text-align:center;
	padding:4px 0px; 
	background-color:#fff;
	border:1px solid #999;
}
.state a{
	background-color:#b8dff5;
}

.txt{
    line-height: 150%;
	font-size: 22px;
}
.report{
	font-size:18px;	
	text-align:center;
	line-height:40px; 
}
.report a{
	color:red;
}

.index_block {
    border: 0px;
    overflow: hidden;
    line-height: 20px;
}
.read{
	background: #fff;
	line-height: 40px;
	height: 40px;
	border-bottom:2px solid #efefef
}

.read h1{
	padding: 0 5px;
	display: inline-block;
	height: 40px;
	background:#fff;
	float: left;
	font-size:20px;
	color:#000;
}
.read h2 {
    padding: 0 5px;
    display: inline-block;
    height: 40px;
    background: #fff;
    float: left;
    font-size: 16px;
    color: #000;
    border-bottom: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}
.read span{
	float:right;
	margin-right:10px;
}
.read span a{
	color:red;
}
.hot{
	margin-top: 5px;
}
.hot dl{
	line-height:30px;
	overflow:hidden;
	position:relative;
	height:100%;
}
.hot dt{
	height: 30px;
	line-height: 30px; 
	font-weight: bold;
	font-size: 16px;
	color: #000;
}
.hot dd{
	float:left;
	width:49%;
	white-space: nowrap;
	overflow: hidden;
}
.hot dd a{
    color: #007BB1;
}

/*footer*/
.footer{
	height:30px;
	background:#ECF0F0;
    padding:3px 0 0;
	border-top:1px solid #f1f1f1;
	line-height:26px;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
.footer li{
    float:left;
	text-align:center; 
	width:25%;
	font-size: 16px;
}

.footer li a{
    color:#000;
}
.footbar{
	position: fixed;
	bottom: 0px;
	z-index: 2147483646;
	cursor: pointer;
	height: 90px;
	width:100%;
	padding-top:20px;
}
.floater{position:fixed;bottom:0;z-index:100;}
/*page*/
.page{height: auto;padding-bottom: 10px;text-align:center;padding-top: 15px;}
.page a{text-align:center;padding: 4px 15px 4px 15px;margin-right:5px;border-radius: 3px;background: #2A7CE7;color:#fff;}

/*detail*/
.c_nr{background-color:#FBF6EC;color:#fff}
.nr_set{padding:10px;font-size:12px; background-color:#ECF0F0;position:relative;z-index:999;}
.nr_set .set1{float:right;border:1px solid #0065B5;padding:2px 10px;margin-left:10px;border-radius:5px;color:#0065B5}
.nr_set .set2 div{border:1px solid #0065B5;float:left;padding:2px 7px;margin-left:5px;border-radius:3px;color:#0065B5}
.nr_set .set2 p{border:1px solid #0065B5;float:left;padding:5px 5px;margin-left:5px;border-radius:3px;color:#0065B5}
.cc{height:0px;clear:both;}
.nr_title{padding:10px 5px;font-weight:bold;font-size:18px; text-align:center;color:#000;position:relative;z-index:999;}
.nr_page{ margin:3px 0px;position:relative;z-index:999;padding-top: 15px}
.nr_page table{width:100%;}
.nr_page table td{ text-align:center}
.nr_page .prev{text-align:left;margin-left:7px;}
.nr_page .mulu{text-align:center;}
.nr_page .next{text-align:right;margin-right:7px;}
.nr_nr{margin:15px;line-height:150%;font-size:22px;color:#000;overflow:hidden;}
