{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	{% block meta_description %}
	{% endblock meta_description %}
    <meta name="MobileOptimized" content="240">
	<meta name="applicable-device" content="mobile">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="Cache-Control" content="max-age=300">
	<meta http-equiv="Cache-Control" content="no-transform">
	<link rel="shortcut icon" href="{% static 'mobile/css/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'mobile/css/style_wap.css' %}">
	<script src="{% static 'mobile/js/wap.js' %}"></script>
	<script src="{% static 'mobile/js/ajax.js' %}"></script>
</head>

<body>
	{% block header %}
    {% endblock header %}

    {% block nav %}
	<!-- 导航栏 -->
	<div class="nav">
		<ul>
			<li><a href="/m/cate/xuanhuan/">分类</a></li>
			<li><a href="/m/cate/top.html">排行</a></li>
			<li><a href="/m/cate/quanben/">全本</a></li>
			<li><a rel="nofollow" href="">书架</a></li>        
		</ul>
	</div>

	<!-- 搜索栏 -->
	<div class="search">
		<form name="articlesearch" action="http://zhannei.baidu.com/cse/search">
			<input name="s" value="18402225725594290780" type="hidden">
			<table style="width:100%;">
				<tbody>
					<tr>
						<td class="frame">
						<input id="s_key" name="q" class="key" value="请输入文章名称，宁少字勿错字！" onfocus="this.value=''" type="text">
						<td class="button">
						<input name="submit" value="" class="go" onclick="check()" type="submit">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
    {% endblock nav %}

    {% block main %}
    {% endblock main %}

	<!-- 底部菜单 -->
	<div class="footer">
		<ul>
			<li><a href="http://www.superxiaoshuo.com/">电脑版</a></li>
			<li><a rel="nofollow" href="">书架</a></li>
			<li><a rel="nofollow" href="http://so.superxiaoshuo.com/cse/search?s=18402225725594290780">搜索</a></li>
			<li><a href="" style="color:red">报错</a></li>
		</ul>
	</div>
	
	<!-- 站长统计 -->
	<div style="display:none;width:0px">
		<script src="" language="JavaScript"></script>
		<script src="" charset="utf-8" type="text/javascript"></script>
		<a href="" target="_blank" title="站长统计">站长统计</a>
	</div>
</body></html>