<!DOCTYPE html>
<html class="gwd_">
<head>
	<meta http-equiv="content-type" content="text/html; charset=gbk">
	<meta charset="gbk">
	<title>玄幻小说小说排行榜-燃文小说移动版</title>
	<meta name="keywords" content="玄幻小说小说排行榜,玄幻小说小说txt下载">
	<meta name="description" content="燃文小说移动版提供免费、热门的玄幻小说小说排行榜、最新玄幻小说小说及TXT下载。">
	<meta name="MobileOptimized" content="240">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="canonical" href="http://www.ranwena.com/xuanhuan/">
	<link rel="shortcut icon" href="http://m.ranwena.com/favicon.ico">
	<meta http-equiv="Cache-Control" content="max-age=0">
	<meta http-equiv="Cache-Control" content="no-transform ">
	<link rel="stylesheet" type="text/css" href="%E7%8E%84%E5%B9%BB%E5%B0%8F%E8%AF%B4%E5%B0%8F%E8%AF%B4%E6%8E%92%E8%A1%8C%E6%A6%9C-%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_files/style_wap.css">
	<script src="%E7%8E%84%E5%B9%BB%E5%B0%8F%E8%AF%B4%E5%B0%8F%E8%AF%B4%E6%8E%92%E8%A1%8C%E6%A6%9C-%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_files/wap.js"></script><script src="%E7%8E%84%E5%B9%BB%E5%B0%8F%E8%AF%B4%E5%B0%8F%E8%AF%B4%E6%8E%92%E8%A1%8C%E6%A6%9C-%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_files/ajax.js"></script>
</head>
<body>
	<div class="header">
		<a href="javascript:history.go(-1);" class="return">返回</a>
		<a href="http://m.ranwena.com/" class="home">首页</a>
		<h2><a href="http://m.ranwena.com/">燃文小说</a></h2><p>m.ranwena.com</p>
	</div> 

	<div class="nav">
		<ul>
			<li><a href="http://m.ranwena.com/xuanhuan/">分类</a></li>
			<li><a href="http://m.ranwena.com/top.html">排行</a></li>
			<li><a href="http://m.ranwena.com/quanben/">全本</a></li>
			<li><a rel="nofollow" href="http://m.ranwena.com/wap/bookcase.php">书架</a></li>        
		</ul>
	</div>

	<div class="search">
		<form name="articlesearch" action="http://zhannei.baidu.com/cse/search">
		<input name="s" value="18402225725594290780" type="hidden">
		<table style="width:100%;" cellspacing="0" cellpadding="0">
			<tbody><tr>
				<td style="background-color:#fff; border:1px solid #CCC;"><input id="s_key" name="q" class="key" value="请输入文章名称，宁少字勿错字！" onfocus="this.value=''" type="text"></td>
				<td style="width:35px; background-color:#0080C0; background-image:url('/wap/search.png'); background-repeat:no-repeat; background-position:center"><input name="submit" value="" class="go" onclick="check()" type="submit"></td>
			</tr>
		</tbody></table>
		</form>
	</div> 


	<div class="content">
	<ul>
	<li class="prev  state "><a href="http://m.ranwena.com/xuanhuan/">玄幻小说</a></li>
	<li class="prev "><a href="http://m.ranwena.com/xiuzhen/">修真小说</a></li>
	<li class="prev "><a href="http://m.ranwena.com/dushi/">都市小说</a></li>
	</ul>
	<ul>
	<li class="prev "><a href="http://m.ranwena.com/lishi/">历史小说</a></li>
	<li class="prev "><a href="http://m.ranwena.com/wangyou/">网游小说</a></li>
	<li class="prev "><a href="http://m.ranwena.com/kehuan/">科幻小说</a></li>
	</ul>
	<ul>
	<li class="prev "><a href="http://m.ranwena.com/kongbu/">恐怖小说</a></li>
	<li class="prev "><a href="http://m.ranwena.com/yanqing/">言情小说</a></li>
	<li class="prev "><a href="http://m.ranwena.com/qita/">其他小说</a></li>
	</ul>
	</div>

	<div class="toptab"><span class="active">玄幻小说</span></div>
	<div class="bookbox"><div class="bookimg"><a href="http://m.ranwena.com/files/article/81/81234/"><img src="%E7%8E%84%E5%B9%BB%E5%B0%8F%E8%AF%B4%E5%B0%8F%E8%AF%B4%E6%8E%92%E8%A1%8C%E6%A6%9C-%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_files/81234m.jpg" onerror="this.src='http://www.ranwena.com/modules/article/images/nocover.jpg'"></a></div><div class="bookinfo"><h4 class="bookname"><a href="http://m.ranwena.com/files/article/81/81234/">盖世帝尊</a></h4><div class="author">作者：一叶青天</div><div class="cl0"></div><div class="update"><span>更新至：</span><a href="http://m.ranwena.com/files/article/81/81234/19668057.html">第三千四百一十六章 无上战力！</a></div><div class="cl0"></div><div class="intro_line"><span>简介：</span>    乱古岁月，诸圣争霸。一个号称“睡神”的少年，因祸得福开启一门逆天功法。从此以后，一个肉体无双的奇才，横压天地，剑斩星辰，万千奇才在他脚下匍匐颤栗。群雄崛起的年代，唯我霸武独尊！VIP订阅群：434739889
	</div></div></div>
	<div class="bookbox"><div class="bookimg"><a href="http://m.ranwena.com/files/article/86/86274/"><img src="%E7%8E%84%E5%B9%BB%E5%B0%8F%E8%AF%B4%E5%B0%8F%E8%AF%B4%E6%8E%92%E8%A1%8C%E6%A6%9C-%E7%87%83%E6%96%87%E5%B0%8F%E8%AF%B4%E7%A7%BB%E5%8A%A8%E7%89%88_files/86274m.jpg" onerror="this.src='http://www.ranwena.com/modules/article/images/nocover.jpg'"></a></div><div class="bookinfo"><h4 class="bookname"><a href="http://m.ranwena.com/files/article/86/86274/">太古星帝</a></h4><div class="author">作者：烧刀</div><div class="cl0"></div><div class="update"><span>更新至：</span><a href="http://m.ranwena.com/files/article/86/86274/19668049.html">第940章 差点就死了</a></div><div class="cl0"></div><div class="intro_line"><span>简介：</span>    繁星大陆，星辰亿万，武道之人，可觉醒星魂，进而强化自身，变的无比强大，与天地争锋。
		洛辰，一个无法觉醒星魂的废人，遵循母亲遗愿去认祖归宗，却遭遇凌辱，濒临死亡，但却也因此触动了父亲遗留之物，觉醒能够升级的奇异星魂。
		从此踏上强者之路，与美...</div></div></div>

	<div class="page"><a href="http://m.ranwena.com/xuanhuan/2">下页</a><a href="http://m.ranwena.com/xuanhuan/2785"> 尾页</a></div><div class="page"><form name="checklogin" method="post" action="">输入页数<input name="page" format="*N" size="4"><input name="submit" value="跳转" onclick="window.location='/xuanhuan/'+this.previousSibling.value;" type="button"> </form>(第1/2785页)当前15条/页</div>

	<div class="footer">
	  <ul>
		<li><a href="http://www.ranwena.com/">电脑版</a></li>
		<li><a rel="nofollow" href="http://m.ranwena.com/wap/bookcase.php">书架</a></li>
		<li><a rel="nofollow" href="http://so.ranwena.com/cse/search?s=18402225725594290780">搜索</a></li>
		<li><a href="http://m.ranwena.com/newmessage.php?tosys=1&amp;title=%B4%ED%CE%F3%BE%D9%B1%A8%21&amp;content=%BE%D9%B1%A8%D4%AD%D2%F2%C8%E7%CF%C2%A3%BA" style="color:red">报错</a></li>
	  </ul>
	</div>
	<div style="display:none;width:0px">
	</div>

 
<div id="GWDANG_HAS_BUILT"></div></body></html>