{% extends 'mobile/category.html' %}
{% load staticfiles %}

{% block meta_description %}
	<link rel="canonical" href="{{ book.get_absolute_url }}">
	<title> {{ book.chapter }}-{{ book.title }}全文免费阅读 - 超级小说移动版</title>
	<meta name="keywords" content=" {{ book.chapter }},{{ book.title }}全文阅读。">
	<meta name="description" content="超级小说免费为大家提供{{ book.title }}最新章节阅读,如果你想第一时间观看下一章节,请留意以及收藏超级小说,方便你下次阅读{{ book.title }}最新章节。">
    <meta name="format-detection" content="telephone=no">
{% endblock meta_description %}
{% block script %}
	<script src="{% static 'mobile/js/read.js' %}"></script>
{% endblock script %}
{% block nav %}
	<div class="nr_set">
		<div id="lightdiv" class="set1" onclick="setYejian()">关灯</div>
		<div id="huyandiv" class="set1" onclick="setHuyan()">护眼</div>
		<div class="set2">
			<div>字体：</div>
			<div id="fontbig" onclick="setSize('big')">大</div>
			<div id="fontmiddle" onclick="setSize('middle')">中</div> 
			<div id="fontsmall" onclick="setSize('small')">小</div>
		</div>
		<div class="cc"></div>
	</div>
{% endblock nav %}

{% block main %}
    <div class="c_nr" id="nr_body">
		<div style="display:none" id="book_name">{{ book.title }}</div>
        <div class="nr_title" id="nr_title">{{ book.chapter }}</div>
        <div class="report">
            <a rel="nofollow" href="" style="color:red">章节错误/点此举报</a>
        </div>
        <div class="nr_page">
            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="prev"><a id="pt_prev" href="{{ last_page }}">上一章</a></td>
                        <td class="mulu"><a id="pt_mulu" href="{{ mulu }}">返回目录</a></td>
                        <td class="next"><a id="pt_next" href="{{ next_page }}">下一章</a></td>
                        <td class="prev"><a rel="nofollow" href="" id="pt_shujia" style="color:red">书架</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="nr" class="nr_nr">
            <div>
                {{ book.content|safe }}
            </div>
        </div>
        <div class="report">
            <a rel="nofollow" href="" style="color:red">章节错误/点此举报</a>
        </div>
        <div class="nr_page">
            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="prev"><a id="pt_prev" href="{{ last_page }}">上一章</a></td>
                        <td class="mulu"><a id="pt_mulu" href="{{ mulu }}">返回目录</a></td>
                        <td class="next"><a id="pt_next" href="{{ next_page }}">下一章</a></td>
                        <td class="prev"><a rel="nofollow" href="" id="pt_shujia" style="color:red">书架</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="hot">
            <dl>
                <dt>本站推荐</dt>
                <dd><a href="http://m.superxiaoshuo.com/files/article/83/83270/" title="神灵诀">神灵诀</a></dd>
            </dl>
        </div>
    </div>
{% endblock main %}
