<!DOCTYPE html>
<html class="gwd_">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<meta name="applicable-device" content="mobile">
	<meta name="format-detection" content="telephone=no">
	<meta name="MobileOptimized" content="240">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="canonical" href="http://www.superxiaoshuo.com/files/article/17/17543/12607806.html">
	<title> 第六百二十章 小霍飞刀（上）-绝世唐门全文免费阅读 - 超级小说移动版</title>
	<meta name="keywords" content=" 第六百二十章 小霍飞刀（上）,绝世唐门全文阅读。">
	<meta name="description" content="超级小说免费为大家提供绝世唐门最新章节阅读,如果你想第一时间观看下一章节,请留意以及收藏超级小说,方便你下次阅读绝世唐门最新章节。">
	<link rel="stylesheet" type="text/css" href="detail/style.css">
	<script src="detail/wap.js"></script>
	<script src="detail/ajax.js"></script>
	<script src="detail/read.js"></script>
</head>

<body id="nr_body" class="nr_all c_nr">
	<div class="header">
		<a href="javascript:history.go(-1);" class="return">返回</a>
		<a href="http://m.superxiaoshuo.com/" class="home">首页</a>
		<h2>
			<a href="http://m.superxiaoshuo.com/">超级小说</a>
		</h2>
		<p>m.superxiaoshuo.com</p>
	</div> 
	<div class="nr_set">
		<div id="lightdiv" class="set1" onclick="nr_setbg('light')">关灯</div>
		<div id="huyandiv" class="set1" onclick="nr_setbg('huyan')">护眼</div>
		<div class="set2">
			<div>字体：</div>
			<div id="fontbig" onclick="nr_setbg('big')">大</div>
			<div id="fontmiddle" onclick="nr_setbg('middle')">中</div> 
			<div id="fontsmall" onclick="nr_setbg('small')">小</div>
		</div>
		<div class="cc"></div>
	</div>
	<div class="nr_title" id="nr_title"> 第六百二十章 小霍飞刀（上）</div>
	<div class="report"> 
		<a rel="nofollow" href="" style="color:red">章节错误/点此举报</a>
	</div>
	<div class="nr_page">
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td class="prev"><a rel="nofollow" href="" id="pt_shujia" style="color:red">书架</a></td>
					<td class="prev"><a id="pt_prev" href="">上一章</a></td>
					<td class="mulu"><a id="pt_mulu" href="">返回目录</a></td>
					<td class="next"><a id="pt_next" href="">下一章</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="nr" class="nr_nr">
		<div id="nr1">
		霍雨浩的脸色有些苍白，一连串的爆发，让他体内的三大魂核疯狂运
		</div>
	</div>
	<div class="report">
		<a rel="nofollow" href="" style="color:red">章节错误/点此举报</a>
	</div>
	<div class="nr_page">
		<table cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td class="prev"><a id="pb_prev" href="">上一章</a></td>
					<td class="mulu"><a id="pb_mulu" href="">返回目录</a></td>
					<td class="next"><a id="pb_next" href="">下一章</a></td>
					<td class="next"><a id="shujia" href="">书签</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="hot">
		<dl>
			<dt>本站推荐</dt>
			<dd><a href="http://m.superxiaoshuo.com/files/article/83/83270/" title="神灵诀">神灵诀</a></dd>
		</dl>
	</div>
	<div class="footer">
	   <ul>
		<li><a href="http://www.superxiaoshuo.com/">电脑版</a></li>
		<li><a rel="nofollow" href="">书架</a></li>
		<li><a rel="nofollow" href="">搜索</a></li>
		<li><a href="" style="color:red">报错</a></li>
	  </ul>
	</div>
	<!-- 设置看书记录 -->
	<div style="display:none;">
	<!-- 统计 -->
	</div>

<div id="GWDANG_HAS_BUILT"></div>
</body></html>